.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 650px) {
  .place__title {
    padding: 0 24px;
  }
}

@media screen and (max-width: 450px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
}