.cover {
  max-width: 1184px;
  width: 100%;
  margin: 92px auto;
}

@media screen and (max-width: 800px) {
  .cover {
    margin: 90px auto 88px;
  }
}

@media screen and (max-width: 450px) {
  .cover {
    margin: 66px auto;
  }
}