.place {
  display: grid;
  max-width: 984px;
  grid-template-columns: 460fr 484fr;
  grid-template-rows: min-content;
  gap: 48px 40px;
  margin: 0 auto;
  padding: 0 48px 80px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1100px) {
  .place {
  grid-template-columns: 440fr 456fr;
  gap: 48px 32px;
  }
}

@media screen and (max-width: 800px) {
  .place {
  grid-template-columns: 340fr 352fr;
  gap: 48px 28px;
  padding: 0 24px 73px;
  }
}

@media screen and (max-width: 450px) {
  .place {
  grid-template-columns: 1fr;
  gap: 32px;
  padding: 0 0 50px;
  }
}